header {
    position: relative;
    background-color: black;
    height: 50vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
    position: relative;
    z-index: 2;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }
  
  @media (pointer: coarse) and (hover: none) {
    header {
      background: url('/img/as-prop/carousel.03.jpg') black no-repeat center center scroll;
    }
    header video {
      display: none;
    }
  }
  
body .svg {
  position: absolute;
  width: 500px;
  top: 300px;
  left: 50%;
  margin-left: -250px;
}

.div-h1 {
  background-color: rgba(255, 255, 255, 0.808); width: fit-content; padding: 2px; border-radius: 25px;
}

.titulo {
  font-size: 3em;
}

.div-titulo {
  position: absolute;
  top: 80px; left: 90px;
  z-index: 9;
}

@media screen and (max-width: 375px) {
  body .svg {
    width: 280px;
    margin-left: -140px;
  }

  h1.titulo {
    font-size: 1.5em;
  }

  .div-titulo {
    left: 20px;
  }
}